<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowPilot - Bem-vindo</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>

    <div class="card">
        <img src="../static/imagens/logo.png" class="logo-icon" alt="Logo FlowPilot">
        <h1 class="logo-text"></h1>

        <h2 class="titulo">Bem vindo!</h2>

        <p class="descricao">
            Porfavor, entre com cadastro já existente ou crie seu cadastro para<br>
            continuar utilizando nosso site!
        </p>

        <div class="botoes">
            <a href="login2.html" class="btn">Entrar</a>
            <a href="cadastro.html" class="btn">Criar</a>
        </div>
    </div>

</body>
</html>
